<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | absolute_url }}">
<link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-32x32.png' | absolute_url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/favicons/favicon-16x16.png' | absolute_url }}" sizes="16x16">
<link rel="manifest" href="{{ '/assets/favicons/manifest.json' | absolute_url }}">
<link rel="mask-icon" href="{{ '/assets/favicons/safari-pinned-tab.svg' | absolute_url }}" color="#5bbad5">
<meta name="msapplication-config" content="{{ '/assets/favicons/browserconfig.xml' | absolute_url }}">
<meta name="theme-color" content="#ffffff">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PB98B4');</script>
<!-- End Google Tag Manager -->

<!-- end custom head snippets -->
